<a href="https://colab.research.google.com/github/lfilipeAndrade/Pandas/blob/main/Analisando_Dados_Cidades_Digitais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dados obtidos do Portal Brasileiro de Dados Abertos:
http://dados.gov.br/dataset/cidades-digitais

O projeto Cidades Digitais foi planejado para modernizar a gestão e ampliar o acesso ao serviço público, bem como promover o desenvolvimento dos municípios brasileiros através da tecnologia.

Mais informações no link http://www.mc.gov.br/cidades-digitais

### Gropu by e Reshape

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
cidadesDigitais = pd.read_csv('cidades_digitais.csv',sep=';',encoding='latin-1')

In [ ]:
cidadesDigitais.head()

   UF              CIDADE  ...  PONTOS_ATENDIDOS  VALOR_INVESTIDO
0  AC            Tarauacá  ...                 8                0
1  AL     Delmiro Gouveia  ...                43                0
2  AL  Estrela de Alagoas  ...                39                0
3  AM             Autazes  ...                51                0
4  AM   Benjamin Constant  ...                12                0

[5 rows x 8 columns]

In [ ]:
cidadesDigitais.count()

UF                      338
CIDADE                  338
IBGE                    338
POPULAÇÃO               338
VALOR_TOTAL_PREVISTO    338
STATUS                  338
PONTOS_ATENDIDOS        338
VALOR_INVESTIDO         338
dtype: int64

In [ ]:
# Excluir a coluna 'IBGE', pois a mesma representa apenas o ID da cidade no IBGE e não será utilizada na análise
del cidadesDigitais['IBGE']

In [ ]:
# Agrupando o df pela coluna 'UF' usando o group by
cidadeUF_1 = cidadesDigitais.groupby('UF')

In [ ]:
# Quantidade de grupos do df
len(cidadeUF_1.groups)

27

In [14]:
# Definir uma indexação por 'STATUS'
cidadeUF_2 = cidadesDigitais.set_index('STATUS')

In [15]:
# Aplicando o group by 
cidadeUF_2 = cidadeUF_2.groupby(level='STATUS')

In [16]:
cidadeUF_2.head()

              UF              CIDADE  ...  PONTOS_ATENDIDOS VALOR_INVESTIDO
STATUS                                ...
Sem Previsão  AC            Tarauacá  ...                 8               0
Sem Previsão  AL     Delmiro Gouveia  ...                43               0
Sem Previsão  AL  Estrela de Alagoas  ...                39               0
Sem Previsão  AM             Autazes  ...                51               0
Sem Previsão  AM   Benjamin Constant  ...                12               0
Concluída     AM               Coari  ...                27               0
Concluída     AM          Manacapuru  ...                31      763.009,30
Concluída     AM           Manaquiri  ...                21               0
Concluída     AP      Serra do Navio  ...                21      495.899,00
Concluída     BA            Guanambi  ...                15      441.985,58
Em andamento  MG          Nepomuceno  ...                27               0
Em andamento  PB          Cabaceiras  ...                15               0
Em andamento  PB           Esperança  ...                23               0
Em andamento  PB          Itaporanga  ...                23               0
Em andamento  PR        Bandeirantes  ...                 7               0

[15 rows x 6 columns]

In [29]:
# Definindo 2 indices para o df
cidadeUF_3 = cidadesDigitais.set_index(['UF','STATUS'])

In [25]:
cidadeUF_3

                                  CIDADE  ...  VALOR_INVESTIDO
STATUS       UF                           ...
Sem Previsão AC                 Tarauacá  ...                0
             AL          Delmiro Gouveia  ...                0
             AL       Estrela de Alagoas  ...                0
             AM                  Autazes  ...                0
             AM        Benjamin Constant  ...                0
...                                  ...  ...              ...
             SP     Vargem Grande do Sul  ...                0
             TO     Paraíso do Tocantins  ...                0
             TO  Ponte Alta do Bom Jesus  ...        23.969,90
             TO           Porto Nacional  ...                0
             TO  São Miguel do Tocantins  ...                0

[338 rows x 5 columns]

In [30]:
cidadeUF_3 = cidadeUF_3.groupby(['UF','STATUS'])

In [31]:
cidadeUF_3.sum()

                 POPULAÇÃO  PONTOS_ATENDIDOS
UF STATUS
AC Sem Previsão      38819                 8
AL Sem Previsão      70303                82
AM Concluída        205666                79
   Sem Previsão     204136               167
AP Concluída          4938                21
   Sem Previsão     107938                81
BA Concluída       1171174               155
   Sem Previsão     532445               559
CE Concluída        658927               218
   Sem Previsão     427514               370
DF Concluída         32148                15
ES Sem Previsão     122164                94
GO Sem Previsão     166045               168
MA Concluída        174267                13
   Sem Previsão     571514               566
MG Concluída         18579                16
   Em andamento      26897                27
   Sem Previsão     465789               533
MS Sem Previsão     118431                94
MT Sem Previsão      77241                97
PA Concluída        620301               189
   Sem Previsão     470578               435
PB Concluída        127879                95
   Em andamento      62733                61
   Sem Previsão     111071               185
PE Concluída         37317                14
   Sem Previsão     342519               297
PI Concluída         37987                45
   Sem Previsão     187556               213
PR Concluída        418078               134
   Em andamento      32639                 7
   Sem Previsão     284252               247
RJ Concluída         13626                11
   Em andamento     167465                35
   Sem Previsão     413049               312
RN Concluída          6218                13
   Sem Previsão      77814               145
RO Sem Previsão      84470                39
RR Sem Previsão      27288                21
RS Concluída        107356                73
   Em andamento      40954                30
   Sem Previsão     300041               265
SC Concluída         29008                18
   Sem Previsão     187416                90
SE Sem Previsão     187455               107
SP Concluída        235299               173
   Em andamento      62857                37
   Sem Previsão     898779               810
TO Sem Previsão     117504               139

In [32]:
cidadeUF_3.aggregate(np.sum)

                 POPULAÇÃO  PONTOS_ATENDIDOS
UF STATUS
AC Sem Previsão      38819                 8
AL Sem Previsão      70303                82
AM Concluída        205666                79
   Sem Previsão     204136               167
AP Concluída          4938                21
   Sem Previsão     107938                81
BA Concluída       1171174               155
   Sem Previsão     532445               559
CE Concluída        658927               218
   Sem Previsão     427514               370
DF Concluída         32148                15
ES Sem Previsão     122164                94
GO Sem Previsão     166045               168
MA Concluída        174267                13
   Sem Previsão     571514               566
MG Concluída         18579                16
   Em andamento      26897                27
   Sem Previsão     465789               533
MS Sem Previsão     118431                94
MT Sem Previsão      77241                97
PA Concluída        620301               189
   Sem Previsão     470578               435
PB Concluída        127879                95
   Em andamento      62733                61
   Sem Previsão     111071               185
PE Concluída         37317                14
   Sem Previsão     342519               297
PI Concluída         37987                45
   Sem Previsão     187556               213
PR Concluída        418078               134
   Em andamento      32639                 7
   Sem Previsão     284252               247
RJ Concluída         13626                11
   Em andamento     167465                35
   Sem Previsão     413049               312
RN Concluída          6218                13
   Sem Previsão      77814               145
RO Sem Previsão      84470                39
RR Sem Previsão      27288                21
RS Concluída        107356                73
   Em andamento      40954                30
   Sem Previsão     300041               265
SC Concluída         29008                18
   Sem Previsão     187416                90
SE Sem Previsão     187455               107
SP Concluída        235299               173
   Em andamento      62857                37
   Sem Previsão     898779               810
TO Sem Previsão     117504               139

In [ ]:
cidadeUF_3.aggregate([np.sum, np.mean, np.size])

In [35]:
cidadesUF_4 = cidadesDigitais.set_index([ 'STATUS', 'CIDADE', 'VALOR_TOTAL_PREVISTO', 'VALOR_INVESTIDO', 'POPULAÇÃO', 'PONTOS_ATENDIDOS'])

In [37]:
cidadesUF_4 = cidadesUF_4.groupby(level = ['STATUS', 'VALOR_TOTAL_PREVISTO', 'VALOR_INVESTIDO'])

In [39]:
cidadesUF_4.sum()

                                                   UF
STATUS       VALOR_TOTAL_PREVISTO VALOR_INVESTIDO
Concluída    1.023.839,75         836.808,10       PA
             1.024.440,40         958.295,60       RS
             234.752,50           189.134,16       RS
                                  621.943,90       CE
             266.802,12           206.113,40       PB
...                                                ..
Sem Previsão 945.054,68           78.965,00        PI
             945.609,08           0                MA
             978.516,72           0                SP
             982.422,53           0                CE
             998.180,59           0                ES

[333 rows x 1 columns]